<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85803606534-t32infmt5o1ju2focvtqis5054vnknh1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85803606534-t32infmt5o1ju2focvtqis5054vnknh1</string>
	<key>API_KEY</key>
	<string>AIzaSyCh6mv7VVeNcBbsPqqlWFtosLfpNJq8ZF0</string>
	<key>GCM_SENDER_ID</key>
	<string>85803606534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter-chat-app</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-96f32</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-96f32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85803606534:ios:f323c1ea04d2c90de9d987</string>
</dict>
</plist>